/* BEGIN: common styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
  height: 100%;
}
@media only screen and (max-width: 767px) {
  html,
  body {
    font-size: 12px;
  }
}
body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  height: 100%;
}
.pg-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.page-wrap:after {
  content: "";
  display: block;
}
p {
  line-height: 1.5;
}
.wrapper {
  max-width: 1320px;
  padding: 0 20px;
  margin: auto;
}
@media only screen and (max-width: 1320px) {
  .wrapper {
    padding: 0 20px;
  }
}
.sm-wrapper {
  max-width: 1320px;
  padding: 0 80px;
  margin: auto;
}
@media only screen and (max-width: 1320px) {
  .sm-wrapper {
    padding: 0 60px;
  }
}
@media only screen and (max-width: 1023px) {
  .sm-wrapper {
    padding: 0 20px;
  }
}
section {
  margin-top: 60px;
}
@media only screen and (max-width: 1023px) {
  section {
    margin-top: 30px;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
svg.svg {
  display: block;
}
h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.87500rem;
  font-weight: 500;
  margin-bottom: 24px;
}
h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #f0972e;
}
.notransition {
  transition: none !important;
}
.preloader {
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  background-color: #fff;
  transition: 0.3s opacity, 0.3s visibility;
  opacity: 1;
  visibility: visible;
}
.preloader.hide {
  opacity: 0;
  visibility: hidden;
}
.owl-carousel .owl-nav button {
  outline: none;
  position: absolute;
  top: 50%;
}
.owl-carousel .owl-nav button.owl-prev {
  padding: 16px !important;
  margin: -25px 0 0 30px;
  left: 0;
}
@media only screen and (max-width: 767px) {
  .owl-carousel .owl-nav button.owl-prev {
    margin-left: 0;
  }
}
.owl-carousel .owl-nav button.owl-next {
  padding: 16px !important;
  margin: -25px 30px 0 0;
  right: 0;
}
@media only screen and (max-width: 767px) {
  .owl-carousel .owl-nav button.owl-next {
    margin-right: 0;
  }
}
.owl-carousel .owl-nav button:hover.owl-prev svg {
  -webkit-transform: translate3d(-4px, 0, 0);
          transform: translate3d(-4px, 0, 0);
}
.owl-carousel .owl-nav button:hover.owl-next svg {
  -webkit-transform: translate3d(4px, 0, 0);
          transform: translate3d(4px, 0, 0);
}
.owl-carousel .owl-nav button svg {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: 0.3s -webkit-transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
}
.youtube-player {
  position: relative;
}
.youtube-player.sm .play-btn svg {
  width: 60px;
  height: 60px;
}
.youtube-player img {
  display: block;
}
.youtube-player .play-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}
.youtube-player .play-btn svg {
  transition: 0.3s -webkit-transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
}
.youtube-player .play-btn:hover svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.youtube-player .placeholder {
  z-index: 2;
  width: 100%;
  opacity: 0;
  height: auto;
}
.youtube-player .defaultImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.btn {
  width: 175px;
  height: 50px;
  background-color: #f0972e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 500;
  margin-top: 24px;
}
.btn img {
  width: 20px;
  height: 7px;
  transition: 0.3s all;
}
.btn:hover img {
  -webkit-transform: translate3d(4px, 0, 0);
          transform: translate3d(4px, 0, 0);
}
.btn span {
  font-size: 1rem;
  margin-right: 10px;
}
@-webkit-keyframes lighboxAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes lighboxAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* END: common styles */
/* BEGIN: header styles */
@-webkit-keyframes menuAnimation {
  from {
    -webkit-transform: translate3d(0, -70px, 0);
            transform: translate3d(0, -70px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
  }
}
@keyframes menuAnimation {
  from {
    -webkit-transform: translate3d(0, -70px, 0);
            transform: translate3d(0, -70px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
  }
}
@-webkit-keyframes menuAnimateOnOpen {
  from {
    box-shadow: -5px 0 10px 0 rgba(0, 0, 0, 0);
  }
  to {
    box-shadow: -5px 0 10px 0 rgba(0, 0, 0, 0.1);
  }
}
@keyframes menuAnimateOnOpen {
  from {
    box-shadow: -5px 0 10px 0 rgba(0, 0, 0, 0);
  }
  to {
    box-shadow: -5px 0 10px 0 rgba(0, 0, 0, 0.1);
  }
}
@-webkit-keyframes opacityText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacityText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#menuPlaceholder {
  height: 60px;
  display: none;
}
#menuPlaceholder.scrolled {
  display: block;
}
header {
  position: relative;
  z-index: 4;
}
header > .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header.scrolled {
  padding-bottom: 60px;
}
header.scrolled .menu {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: auto;
  overflow: initial;
  -webkit-animation-name: menuAnimation;
          animation-name: menuAnimation;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
header.scrolled .menu .logo-small.mini {
  display: block;
}
header.scrolled .menu .wrapper {
  height: 70px;
}
header.scrolled .menu .list {
  left: 0;
}
header .logo {
  margin-top: 15px;
}
header .menu-btn {
  cursor: pointer;
  height: 12px;
  width: 24px;
  position: relative;
  display: none;
}
header .menu-btn:after,
header .menu-btn:before {
  content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #000;
  transition: 0.3s background-color, 0.3s width, 0.3s -webkit-transform;
  transition: 0.3s background-color, 0.3s transform, 0.3s width;
  transition: 0.3s background-color, 0.3s transform, 0.3s width, 0.3s -webkit-transform;
}
header .menu-btn:after {
  top: 0;
}
header .menu-btn:hover:before {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
header .menu-btn:hover:after {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
header .menu {
  font-size: 15px;
  font-weight: 500;
  background-color: #FFF;
  font-family: 'Quicksand', sans-serif;
}
header .menu .wrapper {
  height: 60px;
  display: flex;
  align-items: center;
}
header .logo-small {
  margin-right: 15px;
}
header .logo-small.max,
header .logo-small.mini {
  display: none;
}
header .content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .list {
  display: flex;
  position: relative;
  left: -15px;
  transition: all 0.3s;
}
header .list > li {
  position: relative;
  list-style-type: none;
}
header .list > li:hover > a,
header .list > li.current-menu-item > a {
  background-color: #f0972e;
  color: #FFF;
}
header .list > li:hover .sub-menu,
header .list > li.current-menu-item .sub-menu {
  opacity: 1;
  visibility: visible;
}
header .list > li a {
  height: 30px;
  background-color: transparent;
  transition: 0.3s background-color, 0.3s color;
  padding: 0 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
header .list .sub-menu {
  padding: 20px 60px 10px 15px;
  position: absolute;
  background-color: #FFF;
  left: 0;
  top: 100%;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
  transition: 0.3s all;
}
header .list .sub-menu li {
  white-space: nowrap;
  color: #000;
  list-style-type: none;
  font-size: 12px;
  line-height: 2;
  font-weight: 500;
}
header .list .sub-menu li:hover {
  color: #f0972e;
}
header .list .sub-menu > a {
  padding: 0;
}
header .follow-us {
  display: flex;
  align-items: center;
}
header .follow-us span {
  margin-right: 10px;
}
@media only screen and (max-width: 1260px) {
  header.scrolled {
    padding-bottom: 0;
  }
  header.scrolled .logo-small.mini {
    display: none !important;
  }
  header.scrolled .logo-small.max {
    display: block;
  }
  header.scrolled .content {
    padding-top: 130px;
  }
  header.opened .content {
    position: absolute;
    height: 100vh;
    display: flex;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-animation-name: menuAnimateOnOpen;
            animation-name: menuAnimateOnOpen;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  header.opened .content .list {
    max-width: 170px;
    width: 100%;
  }
  header.opened .content > * {
    -webkit-animation-name: opacityText;
            animation-name: opacityText;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  header.opened .menu-btn:after,
  header.opened .menu-btn:before {
    background-color: #000;
    width: 28.2842712px;
  }
  header.opened .menu-btn:after {
    -webkit-transform: translate(-2px, 5px) rotate(225deg) !important;
            transform: translate(-2px, 5px) rotate(225deg) !important;
  }
  header.opened .menu-btn:before {
    -webkit-transform: translate(-2px, -5px) rotate(-225deg) !important;
            transform: translate(-2px, -5px) rotate(-225deg) !important;
  }
  header .logo {
    margin-bottom: 15px !important;
  }
  header .menu-btn {
    display: flex;
  }
  header .menu {
    height: 0;
    overflow: hidden;
  }
  header .menu .wrapper {
    justify-content: space-between;
  }
  header .content {
    z-index: -1;
    position: fixed;
    height: 100%;
    background-color: #FFF;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: flex-start;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    transition: 0.3s -webkit-transform;
    transition: 0.3s transform;
    transition: 0.3s transform, 0.3s -webkit-transform;
    align-items: flex-start;
    width: 300px;
    padding: 130px 40px 20px;
  }
  header .content > * {
    opacity: 0;
  }
  header .content .list {
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
    left: 0;
  }
  header .content .list > li.menu-item-has-children:hover a:after,
  header .content .list > li.menu-item-has-children.current-menu-item a:after {
    content: url('/wp-content/themes/vashishta/assets/svg/down-arrow-white.svg');
  }
  header .content .list > li.menu-item-has-children > a {
    display: flex;
    justify-content: space-between;
  }
  header .content .list > li.menu-item-has-children > a:after {
    content: url('/wp-content/themes/vashishta/assets/svg/down-arrow.svg');
    width: 14px;
    height: 14px;
    display: block;
  }
  header .content .list > li.opened .sub-menu {
    max-height: 120px;
  }
  header .content .list > li.opened a:after {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  header .content .list .sub-menu {
    box-shadow: none;
    visibility: visible;
    opacity: 1;
    position: static;
    padding: 0 0 0 30px;
    max-height: 0;
    overflow: hidden;
  }
  header .content .follow-us {
    margin: 20px 0 0 15px;
  }
}
@media only screen and (max-width: 480px) {
  header.opened .content {
    width: 100%;
  }
}
/* END: header styles */
/* BEGIN: HP-slider */
.slider {
  margin-top: 30px;
}
.slider .owl-carousel .owl-item .item {
  overflow: hidden;
  background-position: center;
  background-size: 100% auto;
}
.slider .owl-carousel .owl-item .item img {
  opacity: 0;
  position: relative;
  z-index: -1;
}
.slider.main-page-slider {
  margin-top: 30px;
}
@media only screen and (max-width: 1320px) {
  .slider.main-page-slider {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 1320px) {
  .slider {
    margin-top: 0;
  }
}
.slider .wrapper,
.slider .wrapper-sm {
  position: relative;
}
@media only screen and (max-width: 1320px) {
  .slider .wrapper,
  .slider .wrapper-sm {
    padding: 0;
  }
}
/* END: HP-slider */
/* BEGIN: short-info */
.info .text b {
  font-size: 1.12500rem;
  font-weight: 600;
  line-height: 1.5;
}
.info .text h3 {
  color: #000;
  margin-top: 8px;
}
.info .youtube-player {
  max-width: 940px;
  margin: 56px auto 0;
}
@media only screen and (max-width: 1023px) {
  .info .youtube-player {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 1320px) {
  .courses-list {
    padding: 0;
  }
}
.courses-list .list {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .courses-list .list {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 480px) {
  .courses-list .list {
    display: block;
  }
}
.courses-list .list .item {
  background-color: #f5f5f5;
  width: 29.3103448%;
  max-width: 340px;
  position: relative;
  display: block;
  padding-bottom: 110px;
}
@media only screen and (max-width: 1320px) {
  .courses-list .list .item {
    width: 32%;
  }
}
@media only screen and (max-width: 767px) {
  .courses-list .list .item {
    width: 47%;
    margin: 0 auto 40px;
    padding-bottom: 80px;
  }
}
@media only screen and (max-width: 480px) {
  .courses-list .list .item {
    width: 100%;
    max-width: none;
  }
}
.courses-list .list .item:not(.ie):hover .img-wr .card-img {
  width: 100%;
  -webkit-transform: translate3d(0, -30px, 0);
          transform: translate3d(0, -30px, 0);
  left: 0;
}
.courses-list .list .item.ie:hover .img-wr .card-img {
  -webkit-transform: translate3d(0, -30px, 0);
          transform: translate3d(0, -30px, 0);
}
.courses-list .list .item .img-wr {
  position: relative;
}
.courses-list .list .item .img-wr .placeholder {
  width: 100%;
  opacity: 0;
}
.courses-list .list .item .img-wr .card-img {
  z-index: 0;
  display: block;
  width: calc(100% - 40px);
  left: 20px;
  top: 0;
  transition: 0.3s width, 0.3s left, 0.3s -webkit-transform, 0.3s -webkit-filter;
  transition: 0.3s width, 0.3s transform, 0.3s left, 0.3s filter;
  transition: 0.3s width, 0.3s transform, 0.3s left, 0.3s filter, 0.3s -webkit-transform, 0.3s -webkit-filter;
  -webkit-transform: translate3d(0, -20px, 0);
          transform: translate3d(0, -20px, 0);
  position: absolute;
}
.courses-list .list .item .text {
  margin-top: -10px;
  padding: 0 20px;
}
@media only screen and (max-width: 767px) {
  .courses-list .list .item .text {
    margin-top: -20px;
  }
}
.courses-list .list .item .text h3 {
  margin-bottom: 28px;
}
.courses-list .list .item .text .date {
  padding: 30px 0 20px;
  border-top: 1px solid #414141;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
}
@media only screen and (max-width: 767px) {
  .courses-list .list .item .text .date {
    padding: 15px 0 20px;
  }
}
/* END: short-info */
/* BEGIN: go-top-btn */
.go-top-btn {
  position: fixed;
  padding: 20px;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s opacity, 0.3s visibility;
  will-change: transform;
}
.go-top-btn:hover svg path {
  fill: rgba(0, 0, 0, 0.4);
}
.go-top-btn svg {
  transition: 0.3s -webkit-transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
}
.go-top-btn svg path {
  fill: rgba(0, 0, 0, 0.2);
}
.go-top-btn:hover svg {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
.go-top-btn.visible {
  visibility: visible;
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  .go-top-btn {
    bottom: 0;
    right: 0;
  }
}
/* END: go-top-btn */
/* BEGIN: footer */
footer {
  min-height: 250px;
  background-color: #414141;
  color: #FFF;
  padding: 40px 0 20px;
  margin-top: 100px;
}
@media only screen and (max-width: 1320px) {
  footer {
    margin-top: 60px;
  }
}
@media only screen and (max-width: 767px) {
  footer {
    margin-top: 40px;
  }
}
footer .mt-28 {
  margin-top: 28px;
}
@media only screen and (max-width: 1240px) {
  footer .mt-28 {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 767px) {
  footer .mt-28 {
    margin-top: 20px;
  }
}
footer p,
footer a {
  font-size: 0.875rem;
}
footer .fl-wr {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1240px) {
  footer .fl-wr {
    display: block;
  }
}
footer .fl-wr .left {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  footer .fl-wr .left {
    display: block;
  }
}
footer .fl-wr .address-info {
  max-width: 300px;
}
@media only screen and (max-width: 1240px) {
  footer .fl-wr .address-info {
    margin-bottom: 28px;
  }
}
footer .fl-wr .subscribe {
  max-width: 360px;
  margin: 0 60px 0 30px;
}
@media only screen and (max-width: 1240px) {
  footer .fl-wr .subscribe {
    margin: 0;
  }
}
footer .fl-wr .right {
  max-width: 360px;
}
@media only screen and (max-width: 1240px) {
  footer .fl-wr .right {
    border-top: 1px solid #FFF;
    padding-top: 20px;
    margin-top: 20px;
    max-width: none;
  }
}
footer .logo {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5625rem;
  font-weight: 500;
  display: block;
  margin-bottom: 30px;
}
footer .email {
  display: flex;
  align-items: center;
}
footer .email svg {
  margin-right: 10px;
}
footer form {
  position: relative;
}
footer form.error:before {
  content: "Please correct your entries and try again";
  position: absolute;
  top: -20px;
  color: #ff0000;
  font-size: 12px;
}
footer form input {
  outline: none;
  height: 50px;
  background-color: #ffffff;
  color: #000;
  padding: 0 125px 0 20px;
  line-height: 50px;
  width: 100%;
  border: none;
}
footer form input::-webkit-input-placeholder {
  transition: 0.3s opacity;
}
footer form input:focus::-webkit-input-placeholder {
  /* WebKit browsers */
  opacity: 0;
}
footer form button {
  cursor: pointer;
  outline: none;
  width: 125px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #f0972e;
}
footer .copyrights {
  font-size: 12px;
  line-height: 1.5;
  color: #828282;
}
/* END: footer */
/*
 RETREATS STYLES
 ____________________________________
*/
/* BEGIN: retreats */
.retreats {
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
}
.retreats .btn {
  margin: 24px auto 0;
}
/* END: retreats */
/*
 TEACHERS STYLES
 ____________________________________
*/
/* BEGIN: teachers */
.teachers .block {
  padding-bottom: 26px;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 30px;
}
.teachers .block:last-child {
  border-bottom: none;
}
.teachers .block h3 {
  margin-bottom: 19px;
}
.teachers .block .teacher-information {
  padding-left: 20px;
  margin-bottom: 20px;
}
.teachers .block .teacher-information > div {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.teachers .block .teacher-information .img-wr {
  width: 30px;
}
.teachers .block .teacher-information span,
.teachers .block .teacher-information a {
  font-size: 0.875rem;
  color: #414141;
  transition: 0.3s color;
}
.teachers .block .teacher-information a:hover {
  color: #f0972e;
}
.teachers .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
@media only screen and (max-width: 767px) {
  .teachers .pagination {
    margin-top: 0;
  }
}
.teachers .pagination .arrow {
  padding: 5px;
}
.teachers .pagination .arrow:hover svg:not(.disabled) path {
  fill: #f0972e;
}
.teachers .pagination svg.disabled path {
  fill: #C8C8C8;
}
.teachers .pagination ul {
  display: flex;
  margin: 0 10px;
}
.teachers .pagination ul li {
  list-style-type: none;
  padding: 5px;
}
.teachers .pagination ul a li {
  cursor: pointer;
}
.teachers .pagination ul a li.active,
.teachers .pagination ul a li:hover {
  color: #f0972e;
  font-weight: 500;
}
/* END: teachers */
/*
 TESTIMONIALS STYLES
 ____________________________________
*/
/* BEGIN: testimonials */
.testimonials .block {
  display: flex;
  margin-bottom: 30px;
}
.testimonials .block:last-child .text {
  border-bottom: none;
}
.testimonials .block img {
  margin-right: 40px;
  float: left;
  min-width: 120px;
  height: 120px;
  border-radius: 50%;
}
@media only screen and (max-width: 767px) {
  .testimonials .block img {
    min-width: 80px;
    height: 80px;
    margin-right: 20px;
  }
}
.testimonials .block .text {
  float: left;
  border-bottom: 1px solid #dcdcdc;
  min-height: 160px;
}
.testimonials .block .text.hidden p {
  max-height: 74px;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .testimonials .block .text.hidden p {
    max-height: 53px;
  }
}
.testimonials .block .text.hidden .show-more {
  display: block;
  margin-bottom: 30px;
}
.testimonials .block .text h4 {
  font-size: 1.12500rem;
  margin-bottom: 10px;
  font-weight: 600;
}
.testimonials .block .text .data {
  color: #b4b4b4;
  font-size: 0.875rem;
  margin-bottom: 10px;
}
.testimonials .block .text > p {
  padding-bottom: 20px;
}
.testimonials .block .text .show-more {
  display: none;
  color: #f0972e;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  margin-top: 8px;
}
.testimonials .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
@media only screen and (max-width: 767px) {
  .testimonials .pagination {
    margin-top: 0;
  }
}
.testimonials .pagination .arrow {
  padding: 5px;
}
.testimonials .pagination .arrow:hover svg:not(.disabled) path {
  fill: #f0972e;
}
.testimonials .pagination svg.disabled path {
  fill: #C8C8C8;
}
.testimonials .pagination ul {
  display: flex;
  margin: 0 10px;
}
.testimonials .pagination ul li {
  list-style-type: none;
  padding: 5px;
}
.testimonials .pagination ul a li {
  cursor: pointer;
}
.testimonials .pagination ul a li.active,
.testimonials .pagination ul a li:hover {
  color: #f0972e;
  font-weight: 500;
}
.testimonials .want-to-leave-comment {
  margin-top: 40px;
}
@media only screen and (max-width: 767px) {
  .testimonials .want-to-leave-comment {
    margin-top: 20px;
  }
}
.testimonials .want-to-leave-comment a {
  color: #f0972e;
}
/* END: teachers */
/*
 VIDEO_LIST STYLES
 ____________________________________
*/
/* BEGIN: teachers */
#videoPopUp {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
}
#videoPopUp .frame-wr {
  position: relative;
  background-color: #000;
}
#videoPopUp .frame-wr .placeholder {
  width: 100%;
  opacity: 0;
}
#videoPopUp .frame-wr .exit {
  position: absolute;
  width: 20px;
  height: 20px;
  right: -40px;
  top: 0;
  cursor: pointer;
}
#videoPopUp .frame-wr iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#videoPopUp.visible {
  -webkit-animation-name: lighboxAnimation;
          animation-name: lighboxAnimation;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  visibility: visible;
  opacity: 1;
}
.video-list .fl-wr:after {
  display: block;
  clear: both;
  content: '';
}
.video-list .fl-wr .block {
  margin-bottom: 30px;
  width: 30%;
  margin-right: 5%;
  float: left;
}
.video-list .fl-wr .block:nth-child(3n) {
  margin-right: 0;
}
@media only screen and (max-width: 767px) {
  .video-list .fl-wr .block {
    width: 48%;
    margin-right: 4% !important;
  }
  .video-list .fl-wr .block:nth-child(2n) {
    margin-right: 0 !important;
  }
}
@media only screen and (max-width: 480px) {
  .video-list .fl-wr .block {
    width: 100%;
    margin-right: 0 !important;
  }
  .video-list .fl-wr .block:last-child {
    margin-bottom: 0;
  }
}
.video-list .fl-wr .block iframe {
  width: 100%;
}
.video-list .fl-wr .block p {
  font-size: 0.875rem;
  color: #323232;
  margin-top: 8px;
}
/* END: teachers */
/*
 VIDEO_LIST STYLES
 ____________________________________
*/
/* BEGIN: contacts */
.contacts h4 {
  font-size: 1.12500rem;
  font-weight: 600;
  margin-bottom: 22px;
}
.contacts .contact-info {
  margin-top: 24px;
}
.contacts .contact-info .fl-wr {
  display: flex;
  max-width: 675px;
  width: 100%;
  justify-content: space-between;
}
@media only screen and (max-width: 480px) {
  .contacts .contact-info .fl-wr {
    display: block;
  }
  .contacts .contact-info .fl-wr .contact-list {
    margin-top: 10px;
  }
}
.contacts .contact-info .fl-wr .contact-list a {
  transition: 0.3s color;
}
.contacts .contact-info .fl-wr .contact-list a:hover {
  color: #f0972e;
}
.contacts .contact-info p {
  font-size: 0.875rem;
  color: #414141;
}
.contacts .contact-info p span {
  width: 60px;
  display: inline-block;
}
.contacts .how-to-reach {
  margin-top: 58px;
}
@media only screen and (max-width: 480px) {
  .contacts .how-to-reach {
    margin-top: 30px;
  }
}
.contacts .how-to-reach table td {
  vertical-align: top;
  padding-bottom: 10px;
}
.contacts .how-to-reach table td:first-child {
  padding-right: 27px;
}
@media only screen and (max-width: 480px) {
  .contacts .how-to-reach table td:first-child {
    padding-right: 8px;
  }
}
.contacts .how-to-reach b {
  white-space: nowrap;
  line-height: 1.5;
  font-weight: 600;
}
.contacts .map-wr {
  position: relative;
  max-width: 900px;
  width: 100%;
  margin-top: 56px;
}
@media only screen and (max-width: 767px) {
  .contacts .map-wr {
    margin-top: 20px;
    width: calc(100% + 86px);
    left: -107px;
  }
}
@media only screen and (max-width: 480px) {
  .contacts .map-wr {
    left: -86px;
  }
}
.contacts .map-wr > img {
  width: 100%;
  opacity: 0;
}
.contacts .map-wr #map {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
/* END: teachers */
/*
 COURSES STYLES
 ____________________________________
*/
/* BEGIN: courses */
.courses b {
  font-size: 1.12500rem;
  font-weight: 600;
  line-height: 1.5;
}
.courses .youtube-player {
  max-width: 940px;
  margin: 56px auto 0;
}
@media only screen and (max-width: 1023px) {
  .courses .youtube-player {
    margin-top: 30px;
  }
}
.courses h3 {
  color: #000;
  margin-bottom: 20px;
}
.courses .main-information {
  margin: 40px 0  34px;
  display: flex;
  align-items: flex-start;
}
@media only screen and (max-width: 767px) {
  .courses .main-information {
    display: block;
    margin: 30px 0 20px;
  }
}
.courses .main-information .left {
  flex: 1;
  padding-right: 60px;
}
@media only screen and (max-width: 767px) {
  .courses .main-information .left {
    padding-right: 0;
  }
}
.courses .main-information .left .item {
  margin-bottom: 34px;
}
@media only screen and (max-width: 767px) {
  .courses .main-information .left .item {
    margin-bottom: 20px;
  }
}
.courses .main-information .left .item:last-child {
  margin-bottom: 0;
}
.courses .main-information .left ul {
  padding-left: 15px;
  line-height: 1.5em;
}
.courses .main-information .left ul li {
  list-style-type: none;
  position: relative;
  margin-bottom: 8px;
}
.courses .main-information .left ul li:before {
  width: 4px;
  height: 4px;
  background-color: #f0972e;
  content: '';
  display: block;
  position: absolute;
  left: -15px;
  top: 10px;
  border-radius: 50%;
}
@media only screen and (max-width: 767px) {
  .courses .main-information .left ul li:before {
    top: 7px;
  }
}
.courses .main-information .right {
  width: 340px;
  background-color: #f5f5f5;
  padding: 30px 20px;
}
@media only screen and (max-width: 767px) {
  .courses .main-information .right {
    margin-top: 20px;
    width: 100%;
  }
}
.courses .main-information .right h3 {
  margin-bottom: 8px;
  color: #f0972e;
}
.courses .main-information .right .item {
  margin-bottom: 20px;
}
.courses .main-information .right .schedule p {
  line-height: 1.79;
}
.courses .main-information .right .time-period {
  display: flex;
}
.courses .main-information .right .time-period .time {
  width: 130px;
}
.courses .main-information .right .time-period p:last-child {
  flex: 1;
}
.courses .main-information .right p {
  font-size: 0.875rem;
}
.courses .main-information .right .under-text {
  display: block;
  padding-top: 15px;
  border-top: 1px solid #414141;
}
.courses .teachers-list .fl-wr {
  display: flex;
  flex-wrap: wrap;
}
.courses .teachers-list .fl-wr .item {
  display: flex;
  align-items: center;
  margin: 0 70px 34px 0;
  max-width: 340px;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .courses .teachers-list .fl-wr .item {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1023px) {
  .courses .teachers-list .fl-wr .item:nth-child(2n) {
    margin-right: 0;
  }
}
.courses .teachers-list img {
  margin-right: 30px;
  border-radius: 50%;
}
.courses .teachers-list h4 {
  color: #f0972e;
  font-weight: 600;
  font-size: 1.12500rem;
  margin-bottom: 4px;
}
.courses .teachers-list p {
  font-size: 0.875rem;
  color: #b4b4b4;
}
.courses .how-to-apply a {
  color: #f0972e;
}
/* END: courses */
/*
 PHOTOS STYLES
 ____________________________________
*/
/* BEGIN: photos */
.photos-list .sm-wrapper > div:not(:last-child) {
  margin-bottom: 20px;
}
.photos-list .fl-wr {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 480px) {
  .photos-list .fl-wr {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
  }
}
.photos-list .fl-wr > a {
  margin: 0 3.44827586% 1.8em 0;
  width: 17.2413793%;
  display: block;
  background-size: cover;
}
.photos-list .fl-wr > a:nth-child(5n) {
  margin-right: 0;
}
@media only screen and (max-width: 767px) {
  .photos-list .fl-wr > a {
    width: 22.4137931%;
  }
  .photos-list .fl-wr > a:nth-child(5n) {
    margin: 0 3.44827586% 1.8em 0;
  }
  .photos-list .fl-wr > a:nth-child(4n) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 480px) {
  .photos-list .fl-wr > a {
    width: 100%;
    margin: 0 0 20px 0 !important;
  }
}
.photos-list .fl-wr > a img {
  width: 100%;
  display: block;
  opacity: 0;
}
.custom-lightbox {
  -webkit-animation-name: lighboxAnimation;
          animation-name: lighboxAnimation;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: table;
}
.custom-lightbox .table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 40px 60px;
}
.custom-lightbox .wrap {
  padding-top: 30px;
  background-color: #FFF;
  display: inline-block;
  position: relative;
  width: 100%;
}
.custom-lightbox .wrap .fl-wr {
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-lightbox .wrap .exit {
  position: absolute;
  right: -40px;
  top: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.custom-lightbox .wrap .arrow-wr {
  min-width: 100px;
  height: 100%;
  align-items: stretch;
  padding: 20px 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.custom-lightbox .wrap .arrow-wr:hover.right img {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}
.custom-lightbox .wrap .arrow-wr:hover img {
  -webkit-transform: translateX(-4px);
          transform: translateX(-4px);
}
.custom-lightbox .wrap .arrow-wr img {
  width: 50px;
  height: 11px;
  transition: 0.3s -webkit-transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
}
.custom-lightbox .wrap .img-wr {
  position: relative;
  min-width: 100px;
  width: 100%;
}
.custom-lightbox .wrap .img-wr:before {
  content: "loading...";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.custom-lightbox .wrap .img-wr img {
  position: relative;
  z-index: 2;
  max-width: 100%;
  max-height: 70vh;
  width: auto;
}
@media only screen and (max-width: 767px) {
  .custom-lightbox .wrap .img-wr img {
    max-height: 60vh;
  }
}
.custom-lightbox .wrap .img-wr img.vertical {
  width: auto;
}
.custom-lightbox .wrap h4 {
  line-height: 1.5;
  font-size: 0.875rem;
  height: 60px;
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  color: #323232;
  padding: 0 40px;
}
/* END: photos */
/*
 CALENDAR STYLES
 ____________________________________
*/
/* BEGIN: calendar */
.calendar {
  font-family: 'Open Sans', sans-serif !important;
}
@media only screen and (max-width: 767px) {
  .calendar .fc-view.fc-month-view.fc-basic-view {
    overflow-x: auto;
  }
}
.calendar .fc-view.fc-month-view.fc-basic-view > table {
  min-width: 700px;
}
.calendar .fc-unthemed .fc-content,
.calendar .fc-unthemed .fc-divider,
.calendar .fc-unthemed .fc-list-heading td,
.calendar .fc-unthemed .fc-list-view,
.calendar .fc-unthemed .fc-popover,
.calendar .fc-unthemed .fc-row,
.calendar .fc-unthemed tbody,
.calendar .fc-unthemed td,
.calendar .fc-unthemed th,
.calendar .fc-unthemed thead {
  border-color: #dcdcdc;
  height: 100px !important;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .calendar .fc-unthemed .fc-content,
  .calendar .fc-unthemed .fc-divider,
  .calendar .fc-unthemed .fc-list-heading td,
  .calendar .fc-unthemed .fc-list-view,
  .calendar .fc-unthemed .fc-popover,
  .calendar .fc-unthemed .fc-row,
  .calendar .fc-unthemed tbody,
  .calendar .fc-unthemed td,
  .calendar .fc-unthemed th,
  .calendar .fc-unthemed thead {
    height: 80px !important;
  }
}
.calendar .fc-scroller {
  overflow: hidden !important;
}
.calendar .fc-scroller > .fc-day-grid .fc-row:last-child .fc-content-skeleton tbody {
  display: none;
}
.calendar .fc-scroller.fc-day-grid-container {
  height: auto !important;
}
.calendar .fc-toolbar.fc-header-toolbar {
  margin-bottom: 30px;
  font-weight: 500;
}
.calendar .fc-toolbar.fc-header-toolbar .fc-left h2 span {
  font-weight: 400;
}
@media only screen and (max-width: 767px) {
  .calendar .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0px;
  }
}
.calendar .fc-toolbar .fc-right button {
  background-color: #FFF !important;
  box-shadow: none;
  border: 1px solid #dcdcdc;
  border-radius: 0;
  background-image: none;
  height: 30px;
  outline: none;
  text-shadow: none;
  transition: background-color 0.3s, border 0.3s;
}
.calendar .fc-toolbar .fc-right button:hover {
  background-color: #f0972e !important;
  border-color: #f0972e;
  color: #FFF !important;
}
.calendar .fc-toolbar .fc-right button span {
  display: none;
}
.calendar .fc-toolbar .fc-right button.fc-today-button {
  font-size: 1rem;
  font-weight: 600;
  color: #414141;
  opacity: 1;
  padding: 0 20px;
}
.calendar .fc-toolbar .fc-right button.fc-today-button::first-letter {
  text-transform: uppercase;
}
.calendar .fc-toolbar .fc-right button.fc-prev-button {
  width: 30px;
  background: url('/wp-content/themes/vashishta/assets/svg/icon_arrow_previous.svg') center center no-repeat;
  background-size: 7px 12px;
}
.calendar .fc-toolbar .fc-right button.fc-prev-button:hover {
  background: url('/wp-content/themes/vashishta/assets/svg/icon_arrow_previous_w.svg') center center no-repeat;
}
.calendar .fc-toolbar .fc-right button.fc-next-button {
  width: 30px;
  background: url('/wp-content/themes/vashishta/assets/svg/icon_arrow_next.svg') center center no-repeat;
  background-size: 7px 12px;
}
.calendar .fc-toolbar .fc-right button.fc-next-button:hover {
  background: url('/wp-content/themes/vashishta/assets/svg/icon_arrow_next_w.svg') center center no-repeat;
}
.calendar .fc-unthemed th {
  border: none;
  text-align: right;
  height: 40px;
  vertical-align: middle;
  padding-right: 16px;
  font-weight: 400;
}
.calendar .fc-head-container.fc-widget-header {
  border: none;
}
.calendar .fc-day-grid .fc-sat,
.calendar .fc-day-grid .fc-sun {
  background-color: rgba(65, 65, 65, 0.05);
  color: rgba(0, 0, 0, 0.4);
}
.calendar .fc-day-grid .fc-sat.hover-event,
.calendar .fc-day-grid .fc-sun.hover-event {
  color: rgba(255, 255, 255, 0.6) !important;
}
.calendar .fc-day-top span {
  width: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 15px;
  font-size: 1rem;
}
.calendar .hover-event:hover,
.calendar .hover-event.hover {
  background-color: #f0972e !important;
}
.calendar .fc-day-top.fc-other-month {
  opacity: 1;
}
.calendar .fc-other-month span {
  opacity: 0.3;
}
.calendar .fc-unthemed td.fc-today {
  background-color: transparent;
}
.calendar .fc-unthemed td.fc-today span {
  border-radius: 50%;
  background-color: #ff6464;
  color: #FFF;
}
.calendar .calendar .fc-unthemed td {
  vertical-align: center;
}
.calendar .event-name-cell {
  vertical-align: middle;
  padding-left: 20px;
  color: #FFF;
  font-size: 0.875rem;
  white-space: nowrap;
  z-index: 2;
  position: relative;
}
.calendar .event-name-cell.sunday {
  white-space: normal;
}
.event-popup {
  transition: 0.3s opacity, 0.3s visibility;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: table;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}
.event-popup .table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.event-popup .wrap {
  display: inline-block;
  background-color: #FFF;
  padding: 60px 30px;
  max-width: 700px;
  width: calc(100% - 100px);
  position: relative;
  text-align: left;
}
@media only screen and (max-width: 767px) {
  .event-popup .wrap {
    padding-top: 30px;
  }
}
@media only screen and (max-width: 480px) {
  .event-popup .wrap {
    padding: 20px 15px;
    width: calc(100% - 20px);
  }
}
.event-popup .exit {
  position: absolute;
  top: 0;
  right: -40px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
@media only screen and (max-width: 480px) {
  .event-popup .exit {
    right: 0;
    top: -40px;
  }
}
.event-popup.visible {
  visibility: visible;
  opacity: 1;
}
.event-popup .fl-wr {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding-right: 130px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 480px) {
  .event-popup .fl-wr {
    margin-top: 15px;
  }
}
.event-popup .fl-wr > div {
  margin-bottom: 10px;
}
.event-popup .fl-wr h3 {
  margin-bottom: 8px;
}
/* END: calendar */
/*
 SUBSCRIPTION POPUP
 ____________________________________
*/
/* END: subscription popup */
.subscription-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 60px;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s opacity, 0.3s visibility;
}
.subscription-popup.visible {
  visibility: visible;
  opacity: 1;
}
.subscription-popup .fl-wr {
  position: relative;
  min-height: 180px;
  max-width: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FFF;
  padding: 20px;
  text-align: center;
}
.subscription-popup .fl-wr .exit {
  position: absolute;
  top: 0;
  right: -40px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
@media only screen and (max-width: 480px) {
  .subscription-popup {
    padding: 20px;
  }
  .subscription-popup .fl-wr .exit {
    top: -40px;
    right: 0;
  }
}
/* BEGIN: subscription popup */
